body {
  overflow-x: hidden;
}
@font-face {
  font-family: "SF Pro Display Semibold";
  src: url("../fonts/SF-Pro-Display-Semibold.otf") format("truetype"); }
.studentCount b {
  font-family: "SF Pro Display Semibold", sans-serif;
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SF-Pro-Display-Regular.otf") format("truetype"); }
h1, h2, h3, h4, h5, h6, strong, p, a {
  font-family: "SF Pro Display",sans-serif;
  font-weight: normal; }

.font-weight-bold {
  font-family: "SF Pro Display Semibold", sans-serif !important; }

.font-weight-normal {
  font-family: "SF Pro Display", sans-serif !important; }

.font-weight-light {
  font-family: "SF Pro Display", sans-serif !important; }

